<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= note.creator %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= note.content %>
  </p>

  <p>
    <strong>Spare space:</strong>
    <%= note.spare_space %>
  </p>

</div>
