<div id="<%= dom_id archive %>">

  <p>
    <strong>Note title:</strong>
    <%= archive.note_title %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= archive.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= archive.last_name %>
  </p>

  <p>
    <strong>Content box:</strong>
    <%= archive.content_box %>
  </p>

</div>
